src/test/resources/calculator/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://example.com/" name="CalculatorService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://example.com/" schemaLocation="calculator.xsd"/>
        </xsd:schema>
    </types>
    <message name="subtract">
        <part name="parameters" element="tns:subtract"/>
    </message>
    <message name="subtractResponse">
        <part name="parameters" element="tns:subtractResponse"/>
    </message>
    <message name="multiply">
        <part name="parameters" element="tns:multiply"/>
    </message>
    <message name="multiplyResponse">
        <part name="parameters" element="tns:multiplyResponse"/>
    </message>
    <message name="add">
        <part name="parameters" element="tns:add"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse"/>
    </message>
    <message name="divide">
        <part name="parameters" element="tns:divide"/>
    </message>
    <message name="divideResponse">
        <part name="parameters" element="tns:divideResponse"/>
    </message>
    <portType name="Calculator">
        <operation name="subtract">
            <input wsam:Action="http://example.com/Calculator/subtractRequest" message="tns:subtract"/>
            <output wsam:Action="http://example.com/Calculator/subtractResponse" message="tns:subtractResponse"/>
        </operation>
        <operation name="multiply">
            <input wsam:Action="http://example.com/Calculator/multiplyRequest" message="tns:multiply"/>
            <output wsam:Action="http://example.com/Calculator/multiplyResponse" message="tns:multiplyResponse"/>
        </operation>
        <operation name="add">
            <input wsam:Action="http://example.com/Calculator/addRequest" message="tns:add"/>
            <output wsam:Action="http://example.com/Calculator/addResponse" message="tns:addResponse"/>
        </operation>
        <operation name="divide">
            <input wsam:Action="http://example.com/Calculator/divideRequest" message="tns:divide"/>
            <output wsam:Action="http://example.com/Calculator/divideResponse" message="tns:divideResponse"/>
        </operation>
    </portType>
    <binding name="CalculatorPortBinding" type="tns:Calculator">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="subtract">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="multiply">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="divide">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
            <soap:address location="http://calculator-webservice.mybluemix.net/calculator"/>
        </port>
    </service>
</definitions>