src/test/resources/complex/groups.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<xs:schema xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://example.com/">

    <xs:element name="inputModel" type="tns:inputModel"/>

    <xs:element name="outputModel" type="tns:outputModel"/>

    <xs:complexType name="inputModel">
        <xs:sequence>
            <xs:element name="inner1" type="tns:innerType1" maxOccurs="unbounded"/>
            <xs:element name="int1" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="innerType1">
        <xs:group ref="myGroupOfThings"/>
        <xs:attribute ref="myAttribute"/>
    </xs:complexType>


    <xs:complexType name="outputModel">
        <xs:sequence>
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="thing1" type="xs:string"/>
    <xs:element name="thing2" type="xs:string"/>
    <xs:element name="thing3" type="xs:string"/>

    <xs:attribute name="myAttribute" type="xs:decimal"/>

    <xs:group name="myGroupOfThings">
        <xs:sequence>
            <xs:element ref="thing1"/>
            <xs:element ref="thing2"/>
            <xs:element ref="thing3"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="myComplexType">

    </xs:complexType>
</xs:schema>