src/test/resources/complex/nested.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<xs:schema xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://example.com/">

    <xs:element name="inputModelBla" type="tns:inputModel"/>

    <xs:element name="outputModelBla" type="tns:outputModel"/>

    <xs:complexType name="inputModel">
        <xs:sequence>
            <xs:element name="inner1" type="tns:innerType1"/>
            <xs:element name="int1" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="languageCode">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="innerType1">
        <xs:sequence>
            <xs:element name="inner2" type="tns:innerType2"/>
            <xs:element name="int2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="innerType2">
        <xs:sequence>
            <xs:element name="inner3" type="tns:innerType3"/>
            <xs:element name="int3" type="xs:int"/>
            <xs:element minOccurs="0" name="languageCode" type="tns:languageCode"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="innerType3">
        <xs:sequence>
            <xs:element name="intA" type="xs:int"/>
            <xs:element name="intB" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="outputModel">
        <xs:sequence>
            <xs:element name="value" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>